SNOWFLAKE_ACCOUNT_URL=https://xxx.snowflakecomputing.com # fill in, change `_` to `-` if needed
SNOWFLAKE_PAT=xxx
SEMANTIC_MODEL_FILE=@SALES_INTELLIGENCE.DATA.MODELS/sales_metrics_model.yaml # fill in
CORTEX_SEARCH_SERVICE=SALES_INTELLIGENCE.DATA.SALES_CONVERSATION_SEARCH # fill in